name: mek_data_class_generator
version: 1.4.0
description: >
  Code generator for data_class to generate `hashCode`, `==`, `toString`, `copyWith` 
  and `change` methods
homepage: https://github.com/BreX900/data_class/tree/main/mek_data_class_generator
repository: https://github.com/BreX900/data_class
topics:
  - data-class
  - build-runner
  - codegen

environment:
  sdk: '>=3.0.0 <4.0.0'

scripts:
  publish: dart pub publish
  # To generate .g files:
  build:runner: dart run build_runner watch --delete-conflicting-outputs

dependencies:
  mek_data_class: ^1.3.0

  analyzer: ^5.12.0
  build: ^2.0.0
  source_gen: ^1.3.2
  dart_style: ^2.3.1
  code_builder: ^4.5.0

  collection: ^1.16.0

  json_annotation: ^4.8.1

dependency_overrides:
  class_to_string:
    path: ../class_to_string
  mek_data_class:
    path: ../mek_data_class

dev_dependencies:
  mek_lints: ^1.0.0
  test: ^1.21.6

  build_runner: ^2.4.5
  json_serializable: ^6.5.4